{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <div class="bg-gray-50 font-[sans-serif]">
      <div
        class="min-h-screen flex flex-col items-center justify-center py-6 px-4"
      >
        <div class="max-w-md w-full">
          <a href="javascript:void(0)"
            ><img
              src="{% static 'ulm_logo.png' %}"
              alt="logo"
              class="w-40 mb-8 mx-auto block"
            />
          </a>

          <div class="p-8 rounded-2xl bg-white shadow">
            <h2 class="text-gray-800 text-center text-2xl font-bold">
              Register
            </h2>
            <form method="POST" class="mt-8 space-y-4">
              {% csrf_token %}
              <div>
                <label class="text-gray-800 text-sm my-2 block"
                  >First Name</label
                >
                <div class="relative flex items-center">
                  <input
                    name="fname"
                    type="text"
                    required
                    class="w-full text-gray-800 text-sm border border-gray-300 px-4 py-3 rounded-md outline-blue-600"
                    placeholder="Enter full name"
                  />
                </div>
                <div>
                  <label class="text-gray-800 text-sm my-2 block"
                    >Last Name</label
                  >
                  <div class="relative flex items-center">
                    <input
                      name="lname"
                      type="text"
                      required
                      class="w-full text-gray-800 text-sm border border-gray-300 px-4 py-3 rounded-md outline-blue-600"
                      placeholder="Enter full name"
                    />
                  </div>
                <label class="text-gray-800 text-sm my-2 block">Email</label>
                <div class="relative flex items-center">
                  <input
                    name="username"
                    type="email"
                    required
                    class="w-full text-gray-800 text-sm border border-gray-300 px-4 py-3 rounded-md outline-blue-600"
                    placeholder="Enter user name"
                  />
                </div>
              </div>

              <div>
                <label class="text-gray-800 text-sm my-2 block">Password</label>
                <div class="relative flex items-center">
                  <input
                    name="password"
                    type="password"
                    required
                    class="w-full text-gray-800 text-sm border border-gray-300 px-4 py-3 rounded-md outline-blue-600"
                    placeholder="Enter password"
                  />
                </div>
                <div>
                  <label class="text-gray-800 text-sm my-2 block">Confirm Password</label>
                  <div class="relative flex items-center">
                    <input
                      name="cpassword"
                      type="password"
                      required
                      class="w-full text-gray-800 text-sm border border-gray-300 px-4 py-3 rounded-md outline-blue-600"
                      placeholder="Enter password again"
                    />
                  </div>
              </div>

              <div class="!mt-8">
                <button
                  type="submit"
                  class="w-full py-3 px-4 text-sm tracking-wide rounded-lg text-white bg-[#800000] hover:bg-[#893F45] focus:outline-none"
                >
                  Sign in
                </button>
              </div>
              <p class="text-gray-800 text-sm !mt-8 text-center">
                Already have an account?
                <a
                  href="{% url 'login' %}"
                  class="text-[#800000] hover:underline ml-1 whitespace-nowrap font-semibold"
                  >Sign In</a
                >
              </p>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
