{% extends "main.html" %} {% block content %}
<div
  class="bg-white overflow-hidden shadow rounded-lg border mx-auto max-w-sm my-10"
>
  <div class="px-4 py-5 sm:px-6">
    <h3 class="text-lg leading-6 font-medium text-gray-900">
      Update User Profile
    </h3>
    <p class="mt-1 max-w-2xl text-sm text-gray-500">
      Update information about the user.
    </p>
  </div>
  <div class="border-t border-gray-200 px-4 py-5 sm:p-0">
    <form action="{% url 'edit_profile' %}" method="POST">
      {% csrf_token %}
      <dl class="sm:divide-y sm:divide-gray-200">
        <div class="py-3 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <dt class="text-sm font-medium text-gray-500">Full name</dt>
          <input
            name="name"
            value="{{user.full_name}}"
            class="px-3 py-2 mt-1 text-gray-900 sm:mt-0 sm:col-span-2 border border-black rounded-md"
            placeholder="Enter your full name"
          />
        </div>
        <div class="py-3 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <dt class="text-sm font-medium text-gray-500">Email address</dt>
          <input
            name="email"
            value="{{user.email}}"
            class="px-3 py-2 mt-1 text-gray-900 sm:mt-0 sm:col-span-2 border border-black rounded-md"
          />
        </div>
        <div class="py-3 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <dt class="text-sm font-medium text-gray-500">Phone number</dt>
          <input
            name="phone_number"
            type="tel"
            value="{% if user.phone_number %}{{user.phone_number}}{% endif %}"
            class="px-3 py-2 mt-1 text-gray-900 sm:mt-0 sm:col-span-2 border border-black rounded-md"
            placeholder="Enter your phone number"
          />
        </div>
        <div class="py-3 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <dt class="text-sm font-medium text-gray-500">Address</dt>
          <input
            type="text"
            name="address"
            value="{% if user.address %}{{user.address}}{%endif%}"
            class="px-3 py-2 mt-1 text-gray-900 sm:mt-0 sm:col-span-2 border border-black rounded-md"
            placeholder="Enter your address"
          />
        </div>
        <div class="py-3 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <dt class="text-sm font-medium text-gray-500">
            New Password(optional)
          </dt>
          <input
            name="password"
            type="password"
            class="px-3 py-2 mt-1 text-gray-900 sm:mt-0 sm:col-span-2 border border-black rounded-md"
            placeholder="Enter your new password"
          />
        </div>
      </dl>
    </div>
    <div>
      <button
      type="submit"
      class="block w-full bg-[#800000] border border-transparent rounded-md py-2 px-4 text-sm text-center font-medium text-white hover:bg-[#801818]"
      >Update</button
      >
    </div>
  </form>
</div>
{% endblock %}
