<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link
      rel="icon"
      type="image/x-icon"
      href="https://utfs.io/f/UwrgskiXFxleNb8FXMYUBQdFgV7rW9H2XyEIwp6xuDAM1tki"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <title>{%block title%}ULM Alumni Directory{%endblock%}</title>
    <script>
      tailwind.config = {
        theme: {
          extend: {
            container: {
              center: true,
              padding: "1rem",
              screens: {
                "2xl": "1300px",
              },
            },
          },
        },
      };
    </script>
  </head>
  <body class="bg-gray-50" style="font-family: 'Lexend', sans-serif">
    {% include "navbar.html" %} {% if messages %} {% for message in messages %}
    <div
      role="alert"
      class="mb-4 relative flex w-full p-3 text-sm text-white {% if message.tags == 'info' %} bg-blue-600 {% elif message.tags == 'error' %} bg-red-600 {% elif message.tags == 'success' %} bg-green-600 {% elif message.tags == 'warning' %} bg-orange-600 {% endif %} rounded-md"
    >
      {{ message }}
      <button
        class="flex items-center justify-center transition-all w-8 h-8 rounded-md text-white hover:bg-white/10 active:bg-white/10 absolute top-1.5 right-1.5"
        type="button"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          class="h-5 w-5"
          stroke-width="2"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M6 18L18 6M6 6l12 12"
          ></path>
        </svg>
      </button>
    </div>
    {% endfor %} {% endif %} {% endif %} {% block content%}{% endblock %}
  </body>
</html>
